@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

body {
  font-family: "Cairo", sans-serif;
}

.navbar {
  background-color: #2b2d42;
}
.navbar .nav-link,
.navbar .navbar-brand {
  color: white;
}
.navbar .btn {
  background-color: #fffffc;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #2b2d42 !important;
  border-color: #2b2d42;
  color: white;
  box-shadow: none;
  outline: none;
}
.btn-outline-primary {
  border-color: #2b2d42;
  color: #2b2d42;
  box-shadow: none;
  outline: none;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  border-color: #2b2d42;
  background-color: #2b2d42;
  color: #fffffc;
  box-shadow: none;
  outline: none;
}
.meal-card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

/* ============ Loading ==============*/
#loader {
  display: none;
  opacity: 0;
}

#content.loading #loader {
  display: block;
  opacity: 1;
}
#content.loading #cards-container {
  display: none;
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #2b2d42;
  border-color: #2b2d42 transparent #2b2d42 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
